.category-section {
  padding: 40px 60px;
  background-color: #ffffff;
}

.category-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
  color: #000;
}

.category-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.arrow {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #3aa423;
  padding: 10px;
  transition: color 0.2s;
}

.arrow:hover {
  color: #000;
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  width: 80%;
}

.category-item {
  text-align: center;
  text-decoration: none;
}

.category-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 0px;
  margin: 0 auto 12px;
  transition: transform 0.2s;
}

.category-image:hover {
  transform: scale(1.05);
}

.category-name {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}
