body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}
.admin-container {
    width: auto;
    padding: 20px;
    background: white;
    
}
.admin-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input{
  border-radius: 5px;
  border: 2px solid rgb(173, 172, 172);
  height: 25px;
  width: 85%;
  padding: 6px;
}

.btn-green {
  margin-top: 0px;
  width: auto;
  background-color: #2e7d32;
  color: white;
  border: 1px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.contenedor2 {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(173, 172, 172);
}

.tabla-categorias {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th, td {
  padding:15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.btn-editar, .btn-eliminar {
  width: auto;
  border: none;
  border-radius: 5px;
  background: green;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  margin-left: 0px;
}



.btn-editar:hover { color: rgb(13, 14, 13); }
.btn-eliminar:hover { color: rgb(19, 17, 17); }

.paginacion button:hover {
  background-color: #d6ded6;
}

.admin-header h1 {
  margin: 0;
  display:"flex";
  justify-content: "space-between";
  margin-Bottom:20;
}
h1 {
  font-size: 24px, solid;
  color: #333;
  margin-bottom: 20px;
}